/* Ensure full-height sidebar */
html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    display: flex;
    height: 100vh;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%; /* Adjust as needed */
    overflow-y: auto;
}

main {
    margin-left: 25%; /* Adjust to match the width of the sidebar */
    padding: 20px;
}
